{% extends theme.base %}

{% block title %} Game - {{ config.plog_title|escape }} {% endblock %}

{% block content %}
<p>&nbsp;</p>
<table width="90%" border="0" cellspacing="2" cellpadding="2" style="text-align: center">
  <tr>
    <td width="20%" style="text-align: center">&nbsp;    </td>
    <td colspan="3" style="text-align: center">
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        
        <tr>
          <td style="text-align: center; vertical-align: top" width="33%">
            <a href="?game=dice.swf">
			<img src="/game/dice_snap.jpg" alt=" image 1" name="image" width="100" height="100" id="image" /></a><br />
            Dice Wars          </td>
          <td style="text-align: center; vertical-align: top" width="33%">
		    <a href="?game=gamechainreaction.html">
            <img src="/game/chain_reaction_snap.jpg" alt=" image 2" name="image" width="100" height="100" id="image" /></a><br />
            Chain Reaction     </td>
          <td style="text-align: center; vertical-align: top" width="33%">
		    <a href="?game=lianliankan.swf">
            <img src="/game/lianliankan_snap.jpg" alt=" image 3" name="image" width="100" height="100" id="image" /></a><br />
            连连看      </td>
        </tr>
        
        <tr>
          <td style="text-align: center; vertical-align: top" width="33%">
            <a href="?game=spira-defense.html">
            <img src="/game/spira-defense_snap.jpg" alt=" image 1" name="image" width="100" height="100" id="image" /></a><br />
            Spira Defense     </td>
          <!--td style="text-align: center; vertical-align: top" width="33%">
            <a href="?game=gamechainreaction.html">
            <img src="/game/chain_reaction_snap.jpg" alt=" image 2" name="image" width="100" height="100" id="image" /></a><br />
            Chain Reaction     </td>
          <td style="text-align: center; vertical-align: top" width="33%">
            <a href="?game=lianliankan.swf">
            <img src="/game/lianliankan_snap.jpg" alt=" image 3" name="image" width="100" height="100" id="image" /></a><br />
            连连看      </td-->
        </tr>

        <tr>
          <td style="text-align: center; vertical-align: top" colspan="3">
            <hr noshade="noshade" size="1" />          </td>
        </tr>
      </table>    </td>
    <td width="20%" style="text-align: center">&nbsp;    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right; vertical-align: bottom; white-space: nowrap">      <a href="#">&lt; Previous</a>    </td>
    <td style="vertical-align: top" width="60%" class="StoryContentColor"></td>
    <td style="vertical-align: bottom; white-space: nowrap" colspan="2">      <a href="#">Next &gt;</a>    </td>
  </tr>
</table>

{% endblock %}