<div class="post" id="p{{ post.key.id }}">
    <ul class="date_title">
        <li class="day">{{ post.date.day }}</li>
        <li class="month">{{ post.date|date:"M" }}</li>
    </ul>

    <ul>
        <h2 class="title"><a href="{{ settings.app_root }}/post/{{ post.key.id }}">{{ post.title|escape }}</a></h2>
	{% if post.tags %}
        <div class="tags">
		Tags:
	{% for tag in post.tags %}
	<a href="{{ settings.app_root }}/tag/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
	{% endfor %}
        </div>
	{% endif %}
    </ul>

	{% comment %}<div>{{ post.content|escape|urlize|linebreaksbr}}</div>{% endcomment %}
	{% comment %}<div>{{ post.content|wiki}}</div> {% endcomment %}
	<p class="meta">
	<span><a href="{{ settings.app_root }}/post/{{ post.key.id }}#comments">{{ post.comment_count_disp }}</a></span>
	<span><a href="{{ settings.app_root }}/post/{{ post.key.id }}">{{ post.hit_count_disp }}</a></span>
		{% if self.is_admin %}
		<span class="fakelink" onclick="DeletePost('{{ post.key.id }}')">Delete</span>
		<span class="fakelink" onclick="EditPost('{{ post.key.id }}')">Edit</span>
		{% endif %}
		<span class="date"> {{ post.date|timezone:8|date:"Y-m-d H:i:s" }}</span>
		<span class="author">by {{ post.author }}</span>
	</p>
	<div class="entry">
        {{ post.excerpt }} {% if post.pagebreak %}<a href="{{ settings.app_root }}/post/{{ post.key.id }}">Read More...</a>{% endif %}
        </div>
	<p class="meta">
	<span><a href="{{ settings.app_root }}/post/{{ post.key.id }}#comments">{{ post.comment_count_disp }}</a></span>
	<span><a href="{{ settings.app_root }}/post/{{ post.key.id }}">{{ post.hit_count_disp }}</a></span>
		{% if self.is_admin %}
		<span class="fakelink" onclick="DeletePost('{{ post.key.id }}')">Delete</span>
		<span class="fakelink" onclick="EditPost('{{ post.key.id }}')">Edit</span>
		{% endif %}
		<span class="date"> {{ post.date|timezone:8|date:"Y-m-d H:i:s" }}</span>
		<span class="author">by {{ post.author }}</span>
	</p>
</div>
